{% extends 'monapp/base.html' %}
{% block title %}
Mon application DJANGO
{% endblock %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<h2>{{ productattributevalue.name }}</h2>
<ul>
    <li>Valeur : {{ productattributevalue.value }}</li>
    <li>Potision : {{ productattributevalue.position}}</li>
</ul>
<a href="{% url 'attributeValue-list' %}" class="btn btn-primary mt-2">Retour</a>
<a href="{% url 'attributeValue-update' productattributevalue.id %}" class="btn btn-warning mt-2">Modifier</a>
<a href="{% url 'attributeValue-delete' productattributevalue.id %}" class="btn btn-danger mt-2">Supprimer</a>
{% endblock %}